<html xmlns:wicket>
<wicket:head>
</wicket:head>
<body>
<wicket:panel>
	<div class="cijferInput ciLeftPart">
		<div class="ciSlider" wicket:id="leftSlider">
		</div>
	</div>
	<div class="cijferInput ciEditPart">
		<div class="ciEditLeft"></div>
		<div class="ciEditRight"></div>
		<input class="ciResultaatInput" type="text" />
		<div class="ciMessage"></div>
		<div class="ciButtons">
			<div class="ui-icon ui-icon-note left hand ciNote" title="Notitie"></div>
			<div class="ui-icon ui-icon-clock left hand ciHistory" title="Geschiedenis"></div>
			<div class="ui-icon ui-icon-lightbulb left hand ciInfo" title="Toets informatie"></div>
			<div class="ui-icon ui-icon-script left hand ciTrace" title="Berekening"></div>
		</div>
		<div class="ciDetails hide">
			
		</div>
	</div>
	<div class="cijferInput ciRightPart">
		<div class="ciSlider" wicket:id="rightSlider">
		</div>
	</div>
</wicket:panel>
</body>
</html>