.tristate {
	display:block;
	overflow:hidden;
	background:#ffffff url('checks.png') no-repeat;
	height:14px!important;
	width:14px;
	cursor:pointer;
}

.tristate_disabled {
	background:#ffffff url('checks_disabled.png') no-repeat;
	cursor:default;
}

.partial{
	background-position: 0px -14px;
}

.on{
	background-position: 0px -28px;
}

/*
*TODO disabled style
*/