<html xmlns:wicket>
<head>
</head>
<body>
<wicket:panel>	
	<h3 class="caption" wicket:id="caption">Verbintenis</h3>
	
	<div class="contHalf left">
		<div wicket:id="detailsLinks"></div>
	</div>
	<div class="contHalf right">
		<table class="tblData" wicket:id="creditsContainer">
			<tr wicket:id="creditsPerHoofdfase">
				<td class="tblTag" wicket:id="hoofdfase">Credits propedeuse</td>
				<td wicket:id="credits">60</td>
			</tr>
		</table>
		
		<div wicket:id="detailsRechts"></div>
		
		<table class="tblData tblInputs moveup_24">
			<tr>
				<td class="tblTag">&nbsp;</td>
				<td>
					<div wicket:id="bekostigingPanel"></div>
				</td>
			</tr>
		</table>

		<div wicket:id="vrijveldenPanel"></div>
	</div>
	<div class="clear" wicket:id="contractDataPanel"></div>
	<br />
</wicket:panel>
</body>
</html>