<html xmlns:wicket>
<head>
</head>
<body>
<wicket:panel>
	<div class="contDetail">
		<div class="contHalf left">
			<h3 class="caption">Details</h3>
			<div wicket:id="details"></div>
			<div wicket:id="noDetails"></div>
		</div>
		<div class="contHalf right">
			<div wicket:id="vrijVelden"></div>
			<div wicket:id="vakresultaateditpanel"></div>
			<br />
			<br />
			<div wicket:id="verificatie">	
				<div wicket:id="verificatieFieldset" class="layBorder"></div>
			</div>
		</div>
	</div>
</wicket:panel>
</body>
</html>