<html xmlns:wicket>
<body>
<wicket:panel>
	<div class="inloggegevens">
		<span wicket:id="medewerkerNaam">Bert Kuijpers</span> |&nbsp;
		
		<div title="Openstaande signalen (Ongelezen signalen)" class="signalen">
			<a href="#" wicket:id="link" class="hand">
				<span wicket:id="messages"> 16 (3) <img src="assets/img/icons/message.png" alt="openstaande (ongelezen) signalen"/></span>
			</a>
		</div>

		<div class="organisatie">
			<span wicket:id="organisatieNaam">Demo school</span> | &nbsp;
		</div>
	</div>
</wicket:panel>
</body>
</html>