U bent door ${afspraak.auteur.volledigeNaam} geplaatst bij de afspraak "${afspraak.titel}" die plaats zal vinden op ${datum} om ${tijd}.

$!afspraak.omschrijving

#if( $afspraak.locatie )
Locatie: $afspraak.locatie
#end
#if( $afspraak.activiteit )
Activiteit: $afspraak.activiteit
#end