Er is een bijlage toegevoegd voor ${deelnemer.persoon.volledigeNaam} (${deelnemer.deelnemernummer})

Wij hopen u hiermee voldoende geïnformeerd te hebben.

Met vriendelijke groet,

EduArte

P.S. Dit bericht is automatisch gegenereerd. U kunt dit niet beantwoorden.