<html xmlns:wicket>
<head>
</head>
<body>
<wicket:panel>
	<div class="laySearchbar">
		<form wicket:id="form">
			<fieldset>
				<span>
					vanaf datum <input class="inpText" value="" wicket:id="beginDatum" />
				</span>
				<span>
					t/m datum <input class="inpText" value="" wicket:id="eindDatum" />
				</span>				
				<select wicket:id="activiteitenTonen" class="unit_120 inpSelect">
					<option>Ja...</option>
				</select>
			</fieldset>
		</form>
	</div>
	<div class="clear"></div>
</wicket:panel>
</body>
</html>