<html xmlns:wicket>
<head>
</head>
<body>
<wicket:panel>	
	<table class="tblData tblInputs">
		<tbody>
			<tr>
				<td class="tblTag unit_220">Categorie</td>
				<td class="tblInput">
					<select class="unit_max" wicket:id="categorie">
						<option></option>
					</select>
				</td>
			</tr>
			<tr>
				<td class="tblTag unit_220">Kenmerk</td>
				<td class="tblInput">
					<select class="unit_max" wicket:id="kenmerk">
						<option></option>
					</select>
				</td>
			</tr>
			<tr>
				<td class="tblTag unit_220">Toelichting</td>
				<td class="tblInput">
					<textarea wicket:id="toelichting" cols="80" rows="4">
					</textarea>
				</td>
			</tr>
			<tr>
				<td class="tblTag unit_220">Begindatum</td>
				<td class="tblInput">
					<input value="" class="inpText unit_80" type="text" wicket:id="begindatum" />
				</td>
			</tr>
			<tr>
				<td class="tblTag unit_220">Einddatum</td>
				<td class="tblInput">
					<input value="" class="inpText unit_80" type="text" wicket:id="einddatum" />
				</td>
			</tr>
		</tbody>
	</table>
</wicket:panel>
</body>
</html>