<?xml version="1.0" encoding="UTF-8"?>
<beans default-autowire="no"
	xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd">

	<bean id="CoreModule" class="nl.topicus.eduarte.modules.CoreModule"></bean>
	<bean id="ExactCsvExportModule" class="nl.topicus.eduarte.modules.ExactCsvExportModule"></bean>
	<bean id="LvsCsvExportModule" class="nl.topicus.eduarte.modules.LvsCsvExportModule"></bean>
	<bean id="GroepsAuthorisatieModule" class="nl.topicus.eduarte.modules.GroepsAuthorisatieModule"></bean>
	<bean id="VascoTokensModule" class="nl.topicus.eduarte.modules.VascoTokenAuthenticatieModule"></bean>
	<bean id="SelfServiceModule" class="nl.topicus.eduarte.modules.SelfServiceModule"></bean>
	<bean id="OnderwijscatalogusAmarantisModule" class="nl.topicus.eduarte.modules.OnderwijscatalogusAmarantisModule"></bean>
</beans>
