<html xmlns:wicket>
<head>
</head>
<body>
<wicket:panel>
	<div wicket:id="favorieten"></div> 
	<table class="tblData">
		<tr>
			<td>
				<a wicket:id="bookmarkToevoegen" title="Deze pagina als favoriet toevoegen">
					Als favoriet toevoegen
				</a>
			</td>
		</tr>
		<tr>
			<td>
				<a wicket:id="foldersBeherenLink" title="Mappen beheren">
					Mappen beheren
				</a>
			</td>
		</tr>
	</table>
	<div wicket:id="toevoegenWindow"></div>
	<div wicket:id="foldersBeherenWindow"></div>
</wicket:panel>
</body>
</html>