<html xmlns:wicket>
<head>
</head>
<body>
<wicket:panel>
	<table class="tblDatagrid clear unit_300">
		<tbody>
			<tr>
				<th></th>
				<th>Type</th>
				<th>Klokuren</th>
				<th>Lesuren</th>
			</tr>
			<tr wicket:id="totalen">
				<td wicket:id=kleur></td>
				<td><span wicket:id="type">Aanwezig</span></td>
				<td title="Aantal klokuren"><span wicket:id="klokuren">59</span></td>
				<td title="Aantal lesuren"><span wicket:id="lesuren">59</span></td>
			</tr>
		</tbody>
	</table>
</wicket:panel>
</body>
</html>