<html xmlns:wicket>
<head>
</head>
<body>
<wicket:extend>
<table class="tblData tblInputs">
	<tbody>
		<tr>
			<td class="tblTag">Locatie</td>
			<td class="tblInput"><select wicket:id="locatie" class="unit_max"></select></td>
		</tr>
		<tr>
			<td class="tblTag">Begindatum</td>
			<td class="tblInput"><input wicket:id="begindatum" type="text" class="unit_80"/></td>
		</tr>
		<tr>
			<td class="tblTag">Einddatum</td>
			<td class="tblInput"><input wicket:id="einddatum" type="text" class="unit_80"/></td>
		</tr>
	</tbody>
</table>
</wicket:extend>
</body>
</html>