<?xml version="1.0" encoding="UTF-8"?>
<beans default-autowire="no"
	xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd">

	<context:component-scan base-package="nl.topicus.eduarte" />

	<import resource="classpath*:/nl/topicus/eduarte/**/spring-module.xml" />

	<bean id="VascoService" class="nl.topicus.eduarte.tester.MockVascoService" />
	<bean id="mockApplication" class="nl.topicus.eduarte.tester.MockEduArteApp" />
	<bean id="sessionProvider"
		class="nl.topicus.cobra.hibernate.providers.GeneralPurposeHibernateSessionProvider">
	</bean>

	<bean id="eduArteScheduler" class="nl.topicus.eduarte.tester.MockEduArteScheduler" />
	<bean id="dataAccessRegistry" class="nl.topicus.cobra.dao.DataAccessRegistry" />
	<bean id="dataAccessHelperObjectAccess" class="nl.topicus.cobra.service.DataAccessHelperObjectAccess" />
	<bean id="customDataPanelService" class="nl.topicus.cobra.service.DefaultCustomDataPanelService" />
	<bean id="eduArteTester" class="nl.topicus.eduarte.tester.EduArteTester">
		<constructor-arg ref="mockApplication" />
	</bean>
</beans>
