<html xmlns:wicket>
<body>
<wicket:panel>
	<h3 class="caption">BPV be&euml;indigen</h3>
	<table class="tblData tblInputs">
		<tbody>
			<tr>
				<td class="tblTag">BPV-bedrijf</td>
				<td class="tblInput">
					<span wicket:id="BPVBedrijf"></span>
				</td>
			</tr>
			<tr>
				<td class="tblTag">Totale omvang</td>
				<td class="tblInput">
					<span wicket:id="totaleOmvang"></span>
				</td>
			</tr>
			<tr>
				<td class="tblTag">Reden be&euml;indigen BPV</td>
				<td class="tblInput">
					<select wicket:id="redenUitschrijving"></select>
				</td>
			</tr>
			<tr>
				<td class="tblTag">Begindatum BPV</td>
				<td class="tblInput">
					<span wicket:id="begindatum"></span>
				</td>
			</tr>
			<tr>
				<td class="tblTag">Verwachte einddatum BPV</td>
				<td class="tblInput">
					<span wicket:id="verwachteEinddatum"></span>
				</td>
			</tr>
			<tr>
				<td class="tblTag">Einddatum BPV</td>
				<td class="tblInput">
					<input wicket:id="einddatum" type="text" />
				</td>
			</tr>
			<tr>
				<td class="tblTag">Gerealiseerde omvang</td>
				<td class="tblInput">
					<input wicket:id="gerealiseerdeOmvang" type="text" />
				</td>
			</tr>
		</tbody>
	</table>
</wicket:panel>
</body>
</html>