<html xmlns:wicket>
<head>
</head>
<body>
<wicket:panel>
	<img src="" wicket:id="age" /><span class="LayTitlebarDeelnemer" wicket:id="label"></span>
		<!--  Onderstaande verbintenis dropdown niet breder maken, is al maximaal. Gaat nu bij lange namen en bijkomende icoontjes nog goed. -->
		<select title="Selecteer een opleiding" class="inpOpleidingSelect unit_350" wicket:id="combo"></select>
	<img src="" wicket:id="dropdown"/>
	<img src="" wicket:id="overleden" />
	<img src="" wicket:id="bijzonderheden" />
	<img src="" wicket:id="nietVerstrekkenAanDerden" title="Informatie over deze deelnemer mag niet verstrekt worden aan derden" alt="Informatie over deze deelnemer mag niet verstrekt worden aan derden" />
</wicket:panel>
</body>
</html> 