<html xmlns:wicket>
<head>
</head>
<body>
<wicket:panel>
	<div wicket:id="singleLink">
		<a href="#" wicket:id="link">
			<span wicket:id="linkLabel"></span>
		</a>
	</div>
	<div wicket:id="doubleLink">
		<span wicket:id="actie">Actie:</span>:
		<a href="#" wicket:id="linkGeslaagd">
			<span wicket:id="linkLabel"></span>
		</a>
		&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
		<a href="#" wicket:id="linkGezakt">
			<span wicket:id="linkLabel"></span>
		</a>
	</div>
</wicket:panel>
</body>
</html>