/* */
html,body {
	height: 100%;
	overflow: hidden; 
}

.container.home.withCalendar, .container.deelnemer.withCalendar{
	min-width: 1000px;	
}

.home.withCalendar .laySide, .deelnemer.withCalendar .laySide{
	display: none;
}

.agenda {
	width: 900px;
	height: 960px;
	z-index: 0;
	position: relative;
}

.home.withCalendar #contBox, .deelnemer.withCalendar #contBox{
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
	-webkit-border-radius-topleft: 0px;
	-webkit-border-radius-topright: 0px;
	border-radius-topleft: 0px;
	border-radius-topright: 0px;
	overflow-x: hidden;
	width: 1000px!important;
	margin-top: -4px;
	margin-left: 5px;
}

.layExtraHeader {
	position: relative;
	height: 67px;
	/*width: 1012px;*/
	margin-left: 5px;
	margin-top: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-radius-topleft: 10px;
	-webkit-border-radius-topright: 10px;
	border-radius-topleft: 10px;
	border-radius-topright: 10px;
}
	
@media screen and (max-width: 1200px) {
	.home.withCalendar #contBox, .deelnemer.withCalendar #contBox{
		-moz-border-radius-topleft: 0px;
		-moz-border-radius-topright: 0px;
		-webkit-border-radius-topleft: 0px;
		-webkit-border-radius-topright: 0px;
		border-radius-topleft: 0px;
		border-radius-topright: 0px;
		overflow-x: hidden;
		width: 1000px!important;
		margin-top: -4px;
		margin-left: 5px;
	}
	.layExtraHeader {
		position: relative;
		height: 67px;
		/*width: 1012px;*/
		margin-left: 5px;
		margin-top: 10px;
		-moz-border-radius-topleft: 10px;
		-moz-border-radius-topright: 10px;
		-webkit-border-radius-topleft: 10px;
		-webkit-border-radius-topright: 10px;
		border-radius-topleft: 10px;
		border-radius-topright: 10px;
	}
}

@media screen and (min-width: 1200px) {
	
	.container.home.withCalendar, .container.deelnemer.withCalendar{
		min-width:1200px;
	}	
	
	.home.withCalendar #contBox, .deelnemer.withCalendar #contBox{
		-moz-border-radius-topleft: 0px;
		-moz-border-radius-topright: 0px;
		-webkit-border-radius-topleft: 0px;
		-webkit-border-radius-topright: 0px;
		border-radius-topleft: 0px;
		border-radius-topright: 0px;
		overflow-x: hidden;
		width: 1000px!important;
		margin-top: -4px;
		margin-left: 13px;
	}
	
	.layExtraHeader {
		position: relative;
		height: 67px;
		margin-left: 13px;
		margin-top: 10px;
		-moz-border-radius-topleft: 10px;
		-moz-border-radius-topright: 10px;
		-webkit-border-radius-topleft: 10px;
		-webkit-border-radius-topright: 10px;
		border-radius-topleft: 10px;
		border-radius-topright: 10px;
	}
}


.layExtraHeader .calheader-left,
.layExtraHeader .calheader-right {
	float: left;
	background-color: #FFF;
	border-bottom: 1px solid #909eb7;
	border-top: none;
	height: 63px;
}

.layExtraHeader .calheader-left {
	width: 60px;
	float: left;
	-moz-border-radius-topleft: 10px;
	-webkit-border-radius-topleft: 10px;
	border-radius-topleft: 10px;
}

.layExtraHeader .calheader-right {
	width: 137px;
	float: left;
	-moz-border-radius-topright: 10px;
	-webkit-border-radius-topright: 10px;
	border-radius-topright: 10px;
}

.days {
	float: left;
}

.layExtraHeader .day {
	height: 66px;
	border-bottom: none;
}

.agenda .days .day {
	height: 960px;
}

.days .day {
	border: 1px solid #E8F0F2; 
	text-align: center;
	float: left;
}

.days .day.today {
	background-color: #e2e6ec;
}

.days .day .header {
	background-color: #FFF;
	color: #909eb7;
	font-weight: bold;
	height: 31px;
	margin-top: -1px;
	padding-top: 10px;
}

.days .day.today .header {
	color: #627490;
}

.days .day .day-cal {
	height: 22px;
	background-color: #FFF;
	border-bottom: 1px solid #909eb7;
}

.hours {
	position: absolute;
	top: 0px;
	left: -1px;
	padding-bottom: 2px;
	background-color: #fff;
}

.hours .hour {
	display: block;
	position: relative;
	height: 40px;
}

.hour .header {
	height: 40px;
	width: 45px;
	font-size: 17px;
	font-weight: bold;
	color: #909eb7;
	display: block;
	padding-right: 5px;
	text-align: right;
} 

.hour:hover {
	text-decoration: none;
} 

.hour .min30 {
	position: absolute;
	top: 20px;
	left: 50px;
	width: 840px;
	border-top: 1px solid #ddd;
	display: block;
}

.hour .min60 {
	position: absolute;
	top: 0px;
	left: 35px;
	width: 855px;
	border-top: 1px solid #b6bfd0;
	display: block;
}

.schedule .current-time {
	position: absolute;
	left: 0;
	height: 2px;
	width: 840px;
	z-index: 100;
	background-color: #ff6600;
}

.grating {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 20px;
}

.grating .lesson {
	width: 890px;
}

.grating .number {
	border-right: 1px solid #7888a0;
	height: 100%;
	width: 19px;
	color: #909eb7;
	text-align: center;
	font-size: 1.2em;
}

.grating-contents{
	border-top: 1px solid #7888a0;	
	border-bottom: 1px solid #7888a0;
}

.grating .lesson .number {
	background-color: #e2e6ec;
}

.grating .break .number {
	background-color: #b6bfd0;
	border-top: 1px solid #7888a0;
	border-bottom: 1px solid #7888a0;
}

.grating .overlay {
	float: right;
	height: 100%;
	width: 840px;
	opacity: 0.6;
	filter: alpha(opacity = 60);
	background-color: white;
}

.grating .handle {
	height: 75px;
	background-image: url('../img/agenda/lesuren.png');
}

.schedule {
	position: absolute;
	z-index: 1;
	top: 0px;
	left: 50px;
	width: 840px;
	height: 960px;
}

.schedule .schedule-drag-canvas {
	top: 0px;
	left: 0px;
	width: 840px;
	height: 960px;
	position: absolute;
	-moz-user-select: none;
	z-index: 1;
	background-image: url('../img/agenda/transparent.png');
}

.schedule .schedule-drag-display {
	display: none;
	position: absolute;
	background-color: #FF6600;
	opacity: 0.7;
	filter: alpha(opacity = 70);
	border: 2px solid #b6bfd0;
	z-index: 900;
	border: 2px solid #909EB7;
}

.schedule .item {
	position: absolute;
	font-size: 11px;
	z-index: 2;
}

.schedule .item.invited {
	opacity: 0.5;
	filter: alpha(opacity = 50);
}
.schedule .item.someone-notaccepted .content {
	background-image: url('../img/agenda/notaccepted.png');
}
.schedule .item.someone-declined .content {
	background-image: url('../img/agenda/declined.png');
}

/* fix for IE, does not inherit white-space properly */
.schedule .item .title td {
	white-space: nowrap;
}
.schedule .item .title,
.day-cal .item .content {
	color: white;
	font-weight: bold;
	padding: 0px 2px;
	white-space: nowrap;
}

.schedule .item .title {
	margin: -3px -3px 0px -3px;
	width: 1000px;
}

.schedule .item .title .presentie-on,
.schedule .item .title .presentie-off,
.schedule .item .title .no-presentie {
	width: 17px;
	height: 17px;
	display: block;
}

.schedule .item .title .presentie-on {
	background-image: url('../img/agenda/presentiereg_on.png');
}

.schedule .item .title .presentie-off {
	background-image: url('../img/agenda/presentiereg_off.png');
}

.schedule .item .title .herhalingAanwezig {
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('../img/agenda/herhaling.png');
}

.schedule .item .title .bijlageAanwezig {
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('../img/agenda/bijlage.png');
}


.item .content {
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 3px;
	right: 3px;
	overflow: hidden;
	z-index: 3;
	padding: 3px;
}

.item .shade {
	position: absolute;
	top: 3px;
	left: 3px;
	bottom: 0px;
	right: 0px;
	background-color: #999;
	z-index: 2;
}

.item:hover .content {
	border: 3px solid #33f;
	margin: -3px;
}

.item:hover {
	z-index: 200;
}

.day-cal .item {
	position: relative;
	height: 18px;
	overflow: hidden;
	font-size: 11px;
}

.agenda .sidebar {
	position: absolute;
	width: 140px;
	top: 0px;
	right: -95px;
	height: 962px;	
	background-color: #fff;
	z-index: 1;
}
.agenda .sidebar .narrow,
.agenda .sidebar .wide {
	position: fixed;
	padding-top: 10px;
	width: 50px;
}
.agenda .sidebar .component {
	margin: 0px 2px 10px 2px;
}
.agenda .sidebar .narrow .component {
	width: 132px;
}
.agenda .sidebar .wide .component {
	margin-left: 20px;
	margin-right: 10px;
}
.agenda .sidebar .narrow .narrow-handle {
	position: absolute;
	cursor:pointer;
	left: 0px;
	top: 10px;
	margin-left: -15px;
	margin-top: -1px;
	height: 90px;
	width: 15px;
	background-image: url('../img/agenda/btn_sidebaruit2.png');
	z-index: 2001;
}
.agenda .sidebar .wide .wide-handle {
	position: absolute; 
	left: 0px;
	top: 10px; 
	cursor: pointer;
	margin-top: 0px;
	height: 90px;
	width: 15px;
	background-image: url('../img/agenda/btn_sidebarin.png');
	z-index: 10;
}
.agenda .sidebar .wide {
	display: none;
	width: 304px; 
	margin-left: -160px;  
	height: 100%;
	background-color: #FFF;
	opacity: 0.95;
	filter: alpha(opacity = 95);
	z-index: 200;
	margin-top: -10px;
}

.agenda .component {
	border: 1px inset #0088AA;
	background-color: white;
	font-size: 12px;
}
.agenda .component .c-caption {
	background-color: #E8F0F2;
	font-weight: bold;
	color: #0088aa;
	text-align:center;
	padding: 2px 5px;
	border-bottom: 1px solid #b6bfd0;
}
.agenda .component .c-caption.no-padding {
	padding: 2px 0px;
	background-color:#f0ebe9;
	font-weight: bold;
	color: #6a7b96;
}
.agenda .component .c-content {
	padding: 5px;
}

.agenda .c-caption .button .next {
	background-image: url('../img/agenda/btn_arrowright0.png');
}
.agenda .c-caption .button .prev {
	background-image: url('../img/agenda/btn_arrowleft0.png');
}
.agenda .c-caption .button .prev-prev {
	background-image: url('../img/agenda/btn_2arrowsleft0.png');
}
.agenda .c-caption .button .next-next {
	background-image: url('../img/agenda/btn_2arrowsright0.png');
}

.agenda .c-caption .button .next:hover {
	background-image: url('../img/agenda/btn_arrowright2.png');
}
.agenda .c-caption .button .prev:hover {
	background-image: url('../img/agenda/btn_arrowleft2.png');
}
.agenda .c-caption .button .prev-prev:hover {
	background-image: url('../img/agenda/btn_2arrowsleft2.png');
}
.agenda .c-caption .button .next-next:hover {
	background-image: url('../img/agenda/btn_2arrowsright2.png');
}

.agenda .c-caption .button .next:active {
	background-image: url('../img/agenda/btn_arrowright1.png');
}
.agenda .c-caption .button .prev:active {
	background-image: url('../img/agenda/btn_arrowleft1.png');
}
.agenda .c-caption .button .prev-prev:active {
	background-image: url('../img/agenda/btn_2arrowsleft1.png');
}
.agenda .c-caption .button .next-next:active {
	background-image: url('../img/agenda/btn_2arrowsright1.png');
}

.agenda .c-caption table {
	width: 100%;
}
.agenda .wide .c-caption .button {
	width: 20px;
	padding: 0px 2px;
}
.agenda .narrow .c-caption .button {
	width: 18px;
	padding: 0px;
}
.agenda .wide .calendar-navbar .month {
	width: 68px;
	padding: 0px 5px;
	text-align: right;
}
.agenda .wide .calendar-navbar .year {
	width: 53px;
	padding: 0px 5px;
	text-align: left;
}
.agenda .narrow .calendar-navbar .month {
	width: 31px;
	text-align: center;
}
.agenda .narrow .calendar-navbar .year {
	width: 31px;
	text-align: center;
}
.agenda .wide .c-caption a.button {
	width: 20px;
}
.agenda .c-caption a.button {
	display: block;
	height: 12px;
	background-position: center center; 
	background-repeat: no-repeat;
}
.agenda table.calendar {
	width: 100%;
}
.agenda table.calendar td {
	text-align: center;
	padding: 3px;
}
.agenda table.calendar th {
	text-align: center;
	font-weight: bold;
	border-bottom: 1px solid black;
}
.agenda table.calendar th.weekend {
	background-color: #adb3bf;
}
.agenda table.calendar td.weekend {
	background-color: #f0ebe9;
}
.agenda table.calendar .week-number {
	color: #0088AA;
	font-weight: bold;
	width: 30px;
}
.agenda table.calendar td.today {
	color: #FF6600;
}
.agenda table.calendar td.selected {
	background-color: #f0ebe9;
}
.agenda table.calendar td.other-month {
	color: #bbb;
}
.agenda table.calendar tr:hover td.working,
.agenda table.calendar.weekend-hover tr:hover td.weekend {
	background-color: #D2DFE0;
}

.days-5.days .day,
.days-5 .days .day,
.days-5 .days .day .day-cal,
.days-5 .days .day .header {
	width: 159px;
}

.days-7 .day,
.days-7 .day .day-cal,
.days-7 .day .header {
	width: 113px;
}

.agenda .days .day {
	position: relative;
	left: 50px;
}

table.tblAvail {
	border-right: 1px solid #bbb;
}

table.tblAvail th.tblAvailRow,
table.tblAvail td.tblAvailRow {
	width: 720px;
	padding: 0px;
}
table.tblAvail .tblAvailRow div.availHour {
	text-align: center;
	width: 30px;
	float: left;
	height: 20px;
	background-image: url('../img/agenda/availheader.png');
}
table.tblAvail td.tblAvailRow {
	background-image: url('../img/agenda/availbackground.png');
}
table.tblAvail .tblAvailRow div.occupied,
table.tblAvail .tblAvailRow div.multiItem {
		background-color: #bbb;
}
table.tblAvail .tblAvailRow div.availDisabled {
		background-color: #cccccc;
}
table.tblAvail .tblAvailRow div.occupiedApp {
	background-color: #cc0000;
}
table.tblAvail .tblAvailRow div.availApp {
	background-color: #8dd35f;
}
table.tblAvail .tblAvailRow div {
	height: 21px;
	float: left;
}
table.tblAvail .tblAvailRow div.occupiedApp,
table.tblAvail .tblAvailRow div.availApp,
	table.tblAvail .tblAvailRow div.availItem {
	background-image: url('../img/agenda/availmask.png');
}

.txtcenter{
        font-weight: bold !important;
}

.calendar-navbar{
        font-weight: bold !important;
}
