.inloggegevens{
	width: 250px;
}

.organisatie{
	margin-top: -15px;	
}

.signalen{
	margin-top: -19px;	
}

#infoButton {
	margin-left: -1190px;	
}

.top_button .mainMenuItem{
	padding-bottom: 20px;	
}

.imgPasfoto{
	padding:0px 0px 12px 0px;
}

.groteSelect{
    width:400px!important;
}

.kleineSelect{
    width:120px!important;
}

.widget-menu a span {
	position: relative;
	top: 6px;
	line-height:12px!important;
	margin-right:2px;
}

.widget-menu li {
	margin-right:-10px;
}

.widget-menu a {
	padding-right:13px!important;
}

table.tblResultaat th.ciColumn {
	width: 50px!important;
}

/* Voor IE7 moet er geen padding zijn omdat dit meetelt in de height. margin cascade IE ook door op alle tags in zich wat we niet willen. */
.tblData {
	margin: 0px;
}

/* Wel op alleen de table */
.tblData table {
	margin-right: 10px;
}

.tblData td {
	padding:0px;
}

/* En de linker td moet iets in springen, want de padding telt in IE niet meer voor de width. */
.tblData td.tblTag {
	padding-left:20px;
}

/* Agenda */
.withCalendar .layExtraHeader{
	margin-left: 5px;
}

.withCalendar .layHeader{
	position: relative;	
}

.agenda{
	position: relative;	
	margin-top: 10px;
}

.withCalendar #contBox{
	overflow: none;	
	position: relative;
	width: 1100px;
}

.container.withCalendar, .withCalendar .layFooter{
	overflow: none!important;	
}

.withCalendar .layLeft{
	width: 1030px;	
}

.withCalendar .content{
	margin-top: 0px;
	float: none;
	position: relative;	
	overflow: none;
}

/* Edits voor resultatenpagina */

td.ciField .ciValueDisplay span{
	position: static!important;	
}

/* Edits voor uitgebreid leerling zoeken */

.deelnemer #contBox{
	position: relative;	
}

