<html xmlns:wicket>
<head>
</head>
<body>
<wicket:panel>
	<div class="structurenList">
		<div wicket:id="structuren" class="structuur hand"><wicket:container wicket:id="label"></wicket:container></div>
		<div class="help">
			<span class="inpDescription ui-icon ui-icon-help" title="Koppelen - Cijfers van deze toets kunnen ingeleverd worden op een centraal ingerichte structuur. Hiervoor zoekt u de gewenste structuur op en kiest u de toets waar de cijfers op ingeleverd moeten worden."></span>
		</div>
	</div>
</wicket:panel>
</body>
</html>