<html xmlns:wicket>
<head>
</head>
<body>
<wicket:panel>
	<div class="laySearchbar">
		<form wicket:id="form">
			<div>
				<span>Actief</span>
				<select class="inpSelect unit_60" wicket:id="actief">
					<option>Actief..</option>
				</select>
				<span>Naam</span>
				<input class="inpText unit_100" type="text" wicket:id="naam" />
				<input class="inpImage" type="image" value="Submit" title="Zoeken" src="assets/img/icons/searchicon.gif" />
			</div>
		</form>
	</div>
	<div class="clear"></div>
</wicket:panel>
</body>
</html>